<!DOCTYPE html>
<html>
  <head>
    <title>RegistrationApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link
      async
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/semantic-ui@${props.versions.sui}/dist/semantic.min.css"
    />
    <script
      async
      src="//cdn.jsdelivr.net/npm/semantic-ui@${props.versions.sui}/dist/semantic.min.js"
    ></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
